nav {
    box-shadow: 0px 0px 3px black;
}

main {
    margin-top: 15vh;
}
/* h1 {
    font-size: 1.2em;
    font-family: 'Nunito';
    text-align: center;
} */





p.title_result {
   text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Nunito';
}



section#inputs_conteiner {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.component_inputs_confirmationPage {
    /* background-color: red; */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito';
   
   
}

div.component_inputs_confirmationPage > label {
    font-size: 1.0em;
    font-family: 'Nunito';
    text-align: start;
    font-weight: 500;
}

div.component_inputs_confirmationPage > input {
    /* background-color: green; */
    width: 60%;
    height: 30px;
    display: block;
    border: 2px solid var(--brown);
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Nunito';
    font-size: 1.0em;

}

div.component_inputs_confirmationPage > input:focus {
    outline: none;
    border: 3px solid var(--brownSugar);
    box-shadow: 0px 0px 5px var(--generalShadow);
    
}







/* ---- ID's in UserName component -------------------- */

/* 
input#user_name {



} */



/* --------- ID's in UserAdress component ----------------*/

/* #conteiner_inputAdress {
  
 
   
}


div#conteiner_inputAdress > label {

} */





div#output_items_confirmation {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito';
   
   
}

div#output_items_confirmation > ul {
    width: 90%;
    padding: 0;
    font-size: 0.9em;
    line-height: 30px;
    margin: auto;
  
}

div#output_items_confirmation > ul > li {
    width: 100%;
    text-align: center;
  
}
/* 
 div#output_items_confirmation li {
    list-style: disc;
    
}  */




 span.icon_output {
    font-size: 1.5em;
 }


 .p_output {
    font-size: 1.2em;
 }


div#output_userName_confirmation {
    text-align: center;
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;

}

div#output_adressUser_confirmation {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
 
}






div#output_adressUser_confirmation > p {
    margin: 10px;
}



p#p_error_cep {
    font-size: 0.8em;
    font-family: 'Nunito';
    text-align: center;
 
}


section#section_totalValue {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}



div#totalValue {
    display: block;
    text-align: center;
}

div#totalValue {
    font-family: 'Roboto';
    
}

p#title_value {
    font-family: 'Nunito';
    font-size: 1.2em;
    font-weight: normal;
}

 p#output_total {
    font-weight: 700;
    font-size: 1.9em;
 }



div#totalValue > p {
    margin: 10px;
}



p#p_alert_return {
    font-family: 'Nunito';
    font-size: 0.9em;
    width: 80%;
    margin: 20px auto 30px auto;
    text-align: center;
    color: red;
}



p#p_checkout {
    font-size: 1.3em;
    font-family: 'Nunito';
    text-align: center;
    width: 100vw;
    /* height: 60px; */
    
 
}

@media screen and (min-width: 500px) {


    section#inputs_conteiner {
        width: 100vw;
        /* background-color: green; */
     
    }

    div.component_inputs_confirmationPage {
        width: 80%;
        /* background-color: blue; */
    }
    
    p.title_result {
        font-size: 1.3em;
        
    }


    div.component_inputs_confirmationPage > label {
        font-size: 1.0em;
    }

    div.component_inputs_confirmationPage > input {
        width: 45%;
        height: 40px;
    }


    div#output_items_confirmation > ul {
     
     
        font-size: 1.1em;
        line-height: 35px;
       
    }


    span.icon_output {
        font-size: 1.9em;
    }








    

    /* div.buttons_redirect_confirmationPage {
        width: 20%;
        font-size: 0.9em;
    }

    
div.buttons_redirect_confirmationPage > p {
    font-size: 0.9em;
} */
 


}


@media screen and (min-width: 1000px) {

    section#inputs_conteiner {
        width: 100vw;
        /* background-color: red; */
    }


    div.component_inputs_confirmationPage > label {
        font-size: 1.2em;
    }

    div.component_inputs_confirmationPage > input {
        width: 30%;
    }
    
}

