
.navBar {
    width: 100vw;
    height: auto;
   
     background-color: var(--caramelBrown);  
  
    /* background-image: linear-gradient(to bottom, var(--copper) 30%, var(--copper2) 70%); */


}




nav > div#nav_img {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}



nav > div#nav_img > svg {
    color: var(--brown);
    font-size: 4em;
    height: auto;
    margin: 2px;

}