#navBar_logo {
    width: 100vw;
    height: 5vh;
    background-color: black;
    position: fixed;
    z-index: 10;
    top: 0;

    /* background-color: var(--brown); */
    
   


   
}

div#nav_icon_logo {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: var(--gradient8);
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: white;
}

div#nav_icon_logo > svg {
    font-size: 2.5em;
}


a#title_nav {
    color: white;
    font-size: 1.1em;
    font-family: 'lobster';
}



@media screen and (min-width: 500px) {
    #navBar_logo {
        height: 8vh;

    }
}




/* 
@media (min-width: 500px) {
    #navBar_logo {
        width: 50vw;
        height: 100%;
       
    }
} */