#navBar_logo {
    width: 100vw;
    height: auto;
    background-color: transparent;
    position: fixed;
    background-color: whitesmoke;
    ;
    /* background-color: var(--brown); */
    
   


   
}

#nav_img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}


#nav_img > svg {
    color: var(--brown);
    font-size: 2em;
}


#title_nav {
    color: var(--brownSugar);
    font-size: 1.1em;
    font-family: 'lobster';
}


/* 
@media (min-width: 500px) {
    #navBar_logo {
        width: 50vw;
        height: 100%;
       
    }
} */