header#header_deliveryPage {
    width: 100vw;
    height: 300px;
    display: block;

    background-image: url(../assets/images/pexels-artempodrez-5025669.jpg);
  
}

img {
    width: 20%;
    height: auto;
}

/* table {
    background-color: var(--flax);
} */