header#header_deliveryPage {
    width: 100vw;
    height: 300px;
    display: block;

    background-image: url(../assets/images/pexels-artempodrez-5025669.jpg);
  
}

.show_sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.deliveryItens {
    background-color: green;
}

.deliveryItem {
    width: 50vw;
    background-color: red;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.quantity_input {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.quantity_input > button {
    width: 20%;
    margin: auto;
}

.quantity_input > input {
    width: 40%;
    margin: auto;
}



img {
    width: 20%;
    height: 90%;
    height: auto;
}







/* 
.deliveryItem {
 
  
    /* justify-content: space-between; */




/* table {
    background-color: var(--flax);
} */ 