


.section_menu {
    width: 100vw;
    height: auto;
    /* background-color: green; */
    /* background-color: var(--cooper2); */
     /* background-image: url(../assets/images/pexels-vlada-karpovich-4451742.jpg);  */
    /* background-color: var(--cream); */
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: center;
    margin-bottom: 50px;
  

}


.box_menu {
    width: 85vw;
    height: 100%;
    background-color: black;
    /* background-color: aqua; */
    /* background-image: radial-gradient(circle, var(--brown), white); */
    /* background-image: url(../assets/images/festa-de-halloween.jpg);   */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: 200;
    vertical-align: center;
    align-items: center;
    border: 10px solid var(--brown);
    /* border: 10px solid #826546; */

    padding-top: 30px;
    padding-bottom: 30px;
    transition: 1.2s ease;
    margin: 50px 0px 0px 0px;
 
  
}


.conteiner_img_text {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
}


div.title_and_icon  {
 
    display: flex;
    flex-direction: column;
  align-items: center;
    font-size: 2.1em;

}


.icon_item_menu {
 
    font-size: 2.5em;

    color: white;

    padding: 5px;
    text-align: center;
    

}


.item_title_menu {
    color: white;
    font-size: 1.1em;
    font-family: 'Fredericka the Great';
    margin: 7px;
    text-align: center;
}


.item_img_menu {
    display: none;
    width: 40%;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item_text_menu {
    width: 70%;
    color: burlywood;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
  
}

.value {
    width: 25%;
    font-size: 0.9em;
}

.cardapio {
    width: 99%;

    border-spacing: 0px;

    margin: auto;
    /* background-image: linear-gradient(to bottom, var(--copper) 45%, var(--copper2)); */
   
    /* background-color: var(--copper2); */
  
    padding: 5px;

    

 
    
}


table {

    border: 0;
   
}

.title_table {
    font-family: 'Lobster';
    color: var(--cream2);
    font-weight: 800;
    font-size: 2.0em;
}

td.item {
  
    color: white;
    font-family: 'Ribeye Marrow';
    font-size: 1.2em;
 
  

  
   
}


td.item > a {
    display: inline-flex;
    color: green;
    width: 100%;
    border-bottom: 1px solid white;
    border-style: dashed;
    border-top: 0;
    border-left: 0;
    border-right: 0;
 
    
    
    
}

/* 
td#td_value_brigadeiros {
    text-align: center;
} */


td.value {
    color: var(--cream2);
    width: 100%;
    font-family: 'Fredericka the Great';
    display: flex;
    margin-top: 33px;
    padding-left: 7px;

   
 
    
}


td.item:hover {
    cursor: pointer;
}
/* 

td#teste_linha {
  
    color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px dotted white;
}
 */


  
td {
    width: auto;
    border-top: 0;

    border-left: 0;
    border-right: 0;

    
}


th {
    border: 0;
}


div#testeNomes {
    display: flex;
}



td#td_value_brigadeiros {
    padding-left: 10px;
}




@media screen and (min-width: 800px) {



    div.box_menu {
        width: 80vw;
    }





    div.title_and_icon {
        text-align: center;
    }


    div.box_menu {
        flex-direction: row;
        padding-left: 5px;
        padding-right: 5px;
        align-items: initial;
    

   
     
       
   
    }


    div.conteiner_img_text {
        width: 50%;
    }

    table.cardapio {
        width: 50%;
       
      
    }
}





