.section_menu {
    width: 100vw;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box_menu {
    width: 95%;
    /* background-color: aqua; */
    display: flex;
   

    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: 700;
  
}

.value {
    width: 25%;
    font-size: 0.9em;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

table, th, td {
    border: 2px solid black
}





