nav#navBar_scrolls {
    width: 100vw;
    background-color: red;
    position: fixed;
    top: 33px;
}

div#conteiner_links_nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

div.box_links_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--brown);
    
}

div.box_links_nav:hover {
    cursor: pointer;
}