@media (max-width: 440px) {

    nav {
         flex-direction: column; 
    }
  


    div#box_links {
        display: block;
    }

     /* button {
        width: auto;
        height: auto;
        background-color: transparent;
        border: none;
    }

    div#menu_lateral {
        background-color: red;
        height: 500px;
        width: auto;
        display: none;
        z-index: 10;
        position: relative;
        right: 0;
       
    }  */



    
}


nav {
    width: 100vw;
    height: 6vh;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px; */
    margin: 0;
    font-size: 1.1em;
}



div#box_links > a {
    padding: 5px;

    

}

div#menu_lateral, button#nav {
    display: none;
}