

p.p_introduction_sendPage {
    font-family: 'Nunito';
    font-size: 1.0em;
    text-align: center;
    width: 70%;
    margin: 30px auto 30px auto;
    font-weight: 700;

}

#header_sendPage {
    height: auto;
    background-color: red;
    
}

#header_sendPage > video {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

p#title_sendPage {
    width: 70vw;
    font-size: 0.9em;
    margin: 30px auto 30px auto;
}


p#subtitle_section {
    margin-bottom: 30px;
}




#adress_send > h1 {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 100px 0px 100px 0px;

}

#section_send {
    width: 100vw;
    height: auto;
}

#adress_send {
    display: flex;
    flex-direction: column;
    margin: 25px auto 50px auto;
    width: 90%;
}


div#adress_send > p {
    margin: 5px;
   
}

div#output_listItems_sendPage {
    width: 85vw;
    margin: auto;
    font-family: 'Nunito';
    text-align: center;
}

div#output_listItems_sendPage > ul {
    line-height: 30px;
    margin: 0;
    padding: 0;
}



div#box_icon_send {
    width: 200px;
    
    height: 200px;
    border-radius: 100%;
    background-image: linear-gradient(var(--cream2) 50%, var(--brownSugar) 50%);
    /* background-image: linear-gradient(#87ceeb 50%, green 50%); */
    /* background-color: #87ceeb; */
   
  
    /* border-image: linear-gradient(to right, blue 50%, transparent 30%) 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    overflow: hidden;
   
 
}




div#background_city {
    background-color: transparent;
    width: 200px;
    height: 70px;
    z-index: 0;
    position: relative;
    display: flex;
    top: 5px;
    
  
     animation: animation-city 20s infinite; 

}

 .city {
    font-size: 2.5em;
    /* margin-left: 20px; */
    margin: 0;
    color: var(--brown);
 }


 
#truck_icon_send {
    font-size: 6.5em;
    padding: 15px;
    animation: animation-truck 2s infinite;
    position: absolute;
    z-index: 2;
    color: var(--brown);
    
}



div#lines {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 20px;
  

    animation: animation-lines 1.2s infinite;
 
 
}

div.line {
    width: 100px;
    height: 10px;
    background-color: white;
    margin-left: 50px;

}

div#box_icon_send > div#trees {
    width: auto;
    height: auto;
    position: absolute;
     animation: animation-trees 0.8s infinite ease-in-out; 

    z-index: 1;
    display: flex;
    margin: 0;
   
  
}


.tree_icon_send {
  
  
    margin-left: 100px;
    color: var(--hunterGreen);
    font-size: 3.1em;

}

div#box_lines {
    background-color: black;
    width: 100%;
}


@keyframes animation-truck {

    0% {
        transform: translateY(0px);
        
    }


    50% {
        transform: translateY(5px);
       
    }

    100% {
        transform: translateY(0px);
    }
    
}
 



@keyframes animation-lines {



    0% {

        left: 70%;

    }

    100% {
       left: -70%;
    }


}


@keyframes animation-trees {

    0% {

        right: -220%;

    }

    100% {
       right: 100%;
    }


}


@keyframes animation-city {
    0% {
        right: -100%;
    }

    100% {
        right: 110%;
    }
}



/* 

#saida {
    margin: auto;
    width: 70vw;
} */



#adress_send > p {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    text-align: center;
}



#evaluation_conteiner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Nunito';
}


span#emoji_sendPage {
    font-size: 2.5em;



   
    
}


span#emoji_sendPage {

   
   
}
/* 
span.emoji_note_1 {
    animation: emojiSendPage 4.5s ease;
  

    
}


span.emoji_note_2 {

    
  
 
 
}

span.emoji_note_3 {

    /* o 3 tá funcionando
 
    

}

span.emoji_note_4 {
    animation: emojiSendPage 4.5s ease;
  

    

}

span.emoji_note_5 {
   
 
    animation: emojiSendPage 4.5s ease;

} */



@keyframes emojiSendPage {

   0% {
    transform: translateY(0);
   }

   50% {
    transform: translateY(-10px);
   }

   60% {
    transform: translateY(-20px);
   }

   100% {
    transform: translateY(0px);
   }
    
}

/* --------------- comment component --------------------*/


#evaluation_conteiner > textarea {
    width: 70%;
    height: 110px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    box-shadow: var(--global-shadow-size) var(--generalShadow);
}


#evaluation_conteiner > textarea:focus {
    border: 2px solid var(--brownSugar);
}


#evaluation_conteiner > textarea {
    outline: 0;
}

p#p_comment {
    font-family: 'Lobster';
}





/*---------- stars component -------------------*/

.ratingStars {
    padding: 0;
}


.starIcon {
    font-size: 45px;
}

/*------------------------------------------------*/



@media screen and (min-width: 500px) {

    h1#title_sendPage {
        font-size: 1.2em;

    }



    p.p_introduction_sendPage {
        font-size: 1.3em;
      
       
    }

    div#evaluation_conteiner > textarea {
        width: 60%;
    
    }


}


@media screen and (min-width: 700px) {
    div#evaluation_conteiner > textarea {
        width: 45%;
    }
}


@media screen and (min-width: 1000px) {
    div#evaluation_conteiner > textarea {
        width: 40%;
    
    }
}





