

section.section_buttons_redirect {
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
   
    
}




div.buttons_redirect_confirmationPage {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--brown);
    color: var(--cream2);
    padding: 15px;
    margin: 10px auto 10px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px var(--generalShadow);
}

div.buttons_redirect_confirmationPage > .icon_button {
    font-size: 1.7em;
    color: var(--cream2);
    margin: 5px;
  
}

div.buttons_redirect_confirmationPage > p.p_button_redirect {
    width: 100%;
    font-size: 1.1em;
    margin: 5px;
    text-align: center;
    font-family: 'Nunito';
    font-weight: 700;
}

div.buttons_redirect_confirmationPage:hover {
    background-color: var(--cream2);
    color: var(--brown);
}


 div.buttons_redirect_confirmationPage:hover > .icon_button {
    color: var(--brown);
}



@media (min-width: 500px) {


    section.section_buttons_redirect {
        width: 80vw;
       margin: auto;
    }



    

    div.buttons_redirect_confirmationPage {
        width: 30%;
    }

    div.buttons_redirect_confirmationPage > .icon_button {
    
    
    }

    
div.buttons_redirect_confirmationPage > p.p_button_redirect {
  
 
  
}



}


@media (min-width: 1000px) {

    section.section_buttons_redirect {
        width: 40vw;
        margin: auto;
    }

    div.buttons_redirect_confirmationPage {
        width: 50%;
    }

    div.buttons_redirect_confirmationPage > p.p_button_redirect {
        font-size: 0.9em;
     
    }
    



}
    

