html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Lobster';
}

h2 {
  font-family: 'Pacifico';
}

h3 {
  font-family: 'Roboto';
}

body {
  background-color: whitesmoke;
}

div.box_txtimg {
  display: flex;
  width: 30vw;
  margin: auto;
}


img {
  width: 30vw;
}


